- if (template = template_for_current_view)
  = render(template, :task => @task)
- else
  
  -# default view

  = styles_for :task

  = render 'tasks/title_bar', :task=>@task

  = render "comments/new", :commentable => @task
  = render :partial => "shared/timeline", :collection => @task.comments

  = hook(:show_task_bottom, self) do
    = render "versions/versions", :object => @task

